<%= render partial: 'room_check_form' %>

<table>
  <thead>
    <th>
      Room Name
    </th>
    <th>
      Room Type
    </th>
  </thead>
  <tbody> 
  

  <% @rooms.each do |room| %>
      <tr>
        <td>
          <%= RoomType.find(room.room_type_id).name %>
        </td>
        <td>
          <%= form_tag('/bookings', :method => :post, :class => 'internal') %>
            <input type="hidden" name="start_date" value="<%= @start_date %>">
            <input type="hidden" name="end_date" value="<%= @end_date %>">
            <input type="hidden" name="room_type" value="<%= room.room_type_id %>">
            <input type="submit" name="" value="submit">
          </form>
        </td>
      </tr>
  <% end %>

  </tbody>